@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
}

li,a,button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    width: 100%;
}

.logo {
    cursor: pointer;
    color: #edf0f1;
    font-size: 27px;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition:  all 0.3 ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

.active a{
    color: #0088a9;
    font-weight: bold;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition:  all 0.3 ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);   
}

.user-page {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition:  all 0.3 ease 0s;
}

.user-page:hover {
    background-color: rgba(0,136,169,0.8);   
}
/* 
.user-button {
    content: '\f007';
    font-family: FontAwesome;
    font-size: 25px;
    display: inline-block;
    color: white;
}
*/
.user-page {
    border-radius: 50px;
    padding: 6px 15px;
    margin-left: 5px;
} 

.auth-headers {
    display: flex;
}

@media (max-width: 515px) {
    .nav__links {
        display: flex;
        width: 100%;
    }
    .nav__links li {
        margin: auto;
    }
}
@media (max-width: 450px) {
    header {
        padding: 30px 4%;
    }
}
@media (max-width: 385px) {
    li,a,button {
        font-size: 13px;
    }
    .logo {
        font-size: 22px;
    }
}
@media (max-width: 350px) {
    li,a,button {
        font-size: 11px;
    }
    .logo {
        font-size: 19px;
    }
}
