<header>
    <h1 class="logo" routerLink="/users">Matcher</h1>
    <nav>
        <ul class="nav__links">
            <li routerLinkActive="active"><a routerLink='/home'>Home</a></li>
            <li routerLinkActive="active"><a routerLink='/who-plays'>Who Plays</a></li>
            <!-- <li><a href="#">Who Plays</a></li> -->
            <!-- <li><a href="#">Logout</a></li> -->
        </ul>
    </nav>
    <div class="auth-headers">
        <a (click)="onLogout()" class="cta"><button>{{guestUser ? 'Login' : 'Logout'}}</button></a>
        <a (click)="onUserIconClick()" class="user-page" *ngIf="!guestUser"><button class="user-button"></button></a>
    </div>
</header>