<h1>Signup</h1>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <app-input 
        [placeHolder]="'Username'"
        [type]="'text'"
        [controlName]="'username'"
        ></app-input>
    <app-input 
        [placeHolder]="'Email'"
        [type]="'email'"
        [controlName]="'email'"
        ></app-input>
        <app-input 
        [placeHolder]="'Password'"
        [type]="'password'"
        [controlName]="'password'"></app-input>
        <app-input 
        [placeHolder]="'Confirm Password'"
        [type]="'password'"
        [controlName]="'confirmPassword'"></app-input>
    <br>
    <app-general-button 
        [type]="'submit'"
        [form]="signupForm"
        [text]="'Signup'"
        class="submit-btn"
        ></app-general-button>
    <!-- <button 
        type="submit" 
        class="btn-submit"
        [disabled]="!signupForm.valid">signup</button> -->
</form>