@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* 
ul {
    display: flex;
    justify-content: space-between;
} */

.link {
    background-color: rgb(175, 175, 175,0.8);
    border:1px solid black;
    width: 100%;
    text-align: center;
    padding: 8px 0;
    cursor: pointer;
}

.link:hover {
    background-color: rgb(175, 175, 175,1);
    color: black;
}

.active {
    background-color: rgb(175, 175, 175,1);
    color: black;
}


li,a {
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

header {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    /* display: flex;
    justify-content: space-between; */
    align-items: center;
    /* padding: 8px 10%; */
    width: 100%;
}

.nav__links {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.active a{
    color: black;
    font-weight: bold;
}
/* 
button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition:  all 0.3 ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);   
}

.user-button:before {
    content: '\f007';
    font-family: FontAwesome;
    font-size: 25px;
    display: inline-block;
    color: white;
}
.user-button {
    border-radius: 50px;
    padding: 6px 15px;
    margin-left: 5px;
}

.auth-headers {
    display: flex;
} */

@media (max-width: 515px) {
    .nav__links {
        display: flex;
        width: 100%;
    }
    .nav__links li {
        margin: auto;
    }
}
@media (max-width: 450px) {
    header {
        padding: 30px 4%;
    }
}
@media (max-width: 385px) {
    li,a,button {
        font-size: 13px;
    }
    .logo {
        font-size: 22px;
    }
}
@media (max-width: 350px) {
    li,a,button {
        font-size: 11px;
    }
    .logo {
        font-size: 19px;
    }
}
