<header>
    <!-- <h1 class="logo" routerLink="/users">Matcher</h1> -->
    <nav>
        <div class="nav__links">
            <a class="link" routerLinkActive="active" routerLink='/user/profile'>PROFILE</a>
            <a class="link" routerLinkActive="active" routerLink='/user/friends'>FRIENDS</a>
            <a class="link" routerLinkActive="active" routerLink='/user/requests'>REQUESTS</a>
            <!-- <div class="link">
            </div>
            <div class="link">
            </div>
            <div class="link">
            </div> -->
        </div>
        <!-- <ul class="nav__links">
        </ul> -->
    </nav>
    <!-- <div class="auth-headers">
        <a class="cta"><button>guestUser</button></a>
        <a class="user-page"><button class="user-button"></button></a>
    </div> -->
</header>