<div class="team-details__container">
    <div class="team-details" *ngIf="teamInDraw">
        <!-- <h1>{{current_team.name | async}}</h1> -->
        <div class="team-name">{{(team$ | async)?.name}}</div>
        <!-- <img src="teams_img_path + current_team_img" alt="dsds"> -->
        <img class="team__photo" src="{{(team$ | async)?.emblem_path}}">
        <!-- [ngStyle]="{'background-image': 'url(src/app/images/cbayern.png)'}" -->
        <!-- <div class="team__photo" 
        [ngStyle]="{'background':'url('+ teams_img_path + current_team_img +''}"
        >        
        </div> -->
    </div>
    <div class="team-details" *ngIf="!teamInDraw">
        <div class="team-name">{{team.name}}</div>
        <img class="team__photo" src="{{team.emblem_path}}">
        <!-- [ngStyle]="{'background-image': 'url(src/app/images/cbayern.png)'}" -->
        <!-- <div class="team__photo" 
        [ngStyle]="{'background':'url('+ teams_img_path + current_team_img +''}"
        >        
        </div> -->
    </div>
</div>
