.auth_container {
    position: absolute;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    /* border: none; */
    /* background: url('../../images/user_background.png'); */
    background: url('../../../assets/new-images/football_stadium_image.jpg');
    background-size: cover;
}

.auth-data__container {
    width: 50%;
    height: 100%;
    /* padding: 40px; */
    /* position: absolute; */
    /* top:  50%; */
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    /* background: #191919; */
    /* text-align: center; */
    /* border-radius: 20px; */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth_form {
    width: 300px;
    padding: 40px;
    /* position: absolute; */
    top:  50%;
    left: 50%;
    /* transform: translate(-50%,-50%); */
    background: #191919;
    text-align: center;
    border-radius: 20px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo__container {
    text-align: center;
    margin-bottom: 20px;
}

/* 
.auth_form input[type = "text"],
.auth_form input[type = "password"] {} */

/* .auth_form {
    text-align: center;
}
.btn-toggle {
    text-align: center;
    cursor: pointer;
    color:white;
    background-color: #7b2ceb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    padding: 0.3rem;
    border-radius: 10%;
    border: none;
    padding: 10px 10px;
    border-radius: 50px;
    width: 13rem;

}

.btn-toggle:hover {
    background-color: #8c46ee;
    color: white;
    cursor: pointer;
} */


@media (max-width: 450px) {
 .auth_form {
    width: auto;   
    /* text-align: center; */
 }   
}

@media (max-width: 305px) {
 .auth_container {
    width: auto;   
    /* text-align: center; */
 }   
}

@media (max-height: 390px) {
 .auth_form {
    height: -webkit-fill-available;  
    /* text-align: center; */
 }   
}

@media (min-height: 1000px) and (min-width: 750px) {
 .auth_form {
    width: 450px; 
    height: 350px; 
    /* text-align: center; */
 }   
}