<app-headers></app-headers>

<h1 class="title">Users!</h1>

<div class="list-users">
    <!-- {{user.username}}, {{user.email}} -->
    <app-user-card 
        *ngFor='let user of (users | async).users; let i =index' 
        [user]="user"
        (click)="onCardClick(i)"
        style="cursor: pointer;"></app-user-card>
    <div class="no-users" *ngIf='(users | async).users.length === 0'>No Users! Need To Sign Up</div>
</div>
<!-- <div class="row">
    <button type="toggle" class="btn-toggle" (click)="onLogout()">Logout</button>
</div> -->