.example-chip-list {
    width: 100%;
}

.mat-chip-list-class {
    height: 1000px;
}
.chip-list__input {
    margin-left: 1rem;
}

input {
    height: 42px;
}

/* .mat-chip-list-class {
    margin-top: 100px;
}
.mat-label {
    margin-bottom: 1000px;
} */
::ng-deep .mat-chip-list-class div {
    height: 80px;
    margin-top: 20px;
}

