<h1>Login</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <app-input 
        [placeHolder]="'Username'"
        [type]="'text'"
        [controlName]="'username'"
        ></app-input>
        <app-input 
        [placeHolder]="'Password'"
        [type]="'password'"
        [controlName]="'password'"
        ></app-input>
    <br>
    <app-general-button 
        [type]="'submit'"
        [form]="loginForm"
        [text]="'Login'"
        class="submit-btn"
        ></app-general-button>
    <!-- <button 
        type="submit" 
        class="btn-submit"
        [disabled]="!loginForm.valid">Login</button> -->
</form>