<div class="user-profile__container">
    <div class="title">
        Edit Your Profile
    </div>
    <form [formGroup]="profileEditForm" (ngSubmit)="onSubmit()">
        <app-input 
            [type]="'text'"
            [controlName]="'username'"
            [label]="'Username:'"
            ></app-input>
            <app-input 
            [type]="'email'"
            [controlName]="'email'"
            [label]="'Email:'"
            ></app-input>
            <!-- <app-input 
            [placeHolder]="'Old Password'"
            [type]="'password'"
            [controlName]="'oldPassword'"></app-input> -->
            <app-input 
            [placeHolder]="'New Password'"
            [type]="'password'"
            [controlName]="'newPassword'"></app-input>
            <app-input 
            [placeHolder]="'Confirm New Password'"
            [type]="'password'"
            [controlName]="'confirmNewPassword'"></app-input>
        <br>
        <app-general-button 
            [type]="'submit'"
            [text]="'EDIT'"
            class="submit-btn"
            ></app-general-button>
            <!-- [form]="profileEditForm" -->
    </form>
</div>
